html{box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}

body {
	background-image: radial-gradient(white, black);
}
.chatContainer {
	display: block;
	font-family: sans-serif;
}

#form {
	margin: 5px auto;
	padding: 10px;
	text-align: center;
}
.registerContainer {
	margin: 0 auto;
	width: 75%;
	padding: 10px;
}

*:focus {
	outline: none;
}

.gridContainer {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
header {
	font-size: 5em;
	font-family: sans-serif;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 0 #000;
}
.rotated {
	background: green;
	opacity: 0.5;
	display: inline-block;
	padding: 6px;
	color: white;
	-webkit-transform: rotate(-30deg);
}
.rotated:hover {
	-webkit-transform: (180deg);
}
.grid {
	width: 80%;
	height: 300px;
	margin: 15px;
	border-radius: 20px;
}

.one, .three {
	border: 5px solid orange;
}
.one > p, .three > p {
	color: white;
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
	padding-top: 300px;
	text-shadow: 2px 2px 1px orange;
}
.two {
	border: 5px solid green;
	padding: 10px;
}
.two > p {
	color: white;
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
	padding-top: 300px;
	text-shadow: 3px 3px 1px green;
}
#login, #register {
	font-family: sans-serif;
	text-align: center;
	margin-top: 50px;
}
#login > div, #register > div {
	margin-bottom: 5px;
}
#login > div > input, #register > div > input {
	padding: 5px;
}

.registerhere {
	background: green;
	width: 60%;
	margin: 20px auto;
	color: white;
	padding: 10px;
	box-shadow: 2px 2px 1px #fff;
	border-radius: 20px;
}
.registerhere a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}
.activeUsers {
	border-right: 3px solid #fff;
	width: 50%;
}
.activeRooms {
	padding: 10px;
}
.activeRooms > button {
	margin: 10px;
}

.room2 {
	background: orange;
	color: white;
}
.room3 {
	background: purple;
	color: white;
}
a {
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}
.profileContainer > button {
	background: black;
	color: white;
	box-shadow: 2px 2px 1px #fff;
	padding: 10px;
	border-radius: 20px;
	font-family: sans-serif;
}
