html{box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}

.chatContainer {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}
.roomContainer {
	width: 500px;
	height: 400px;
	border: 2px solid green;
	margin: 0 auto;
}
#form {
	margin: 20px auto;
	padding: 10px;
}
#text {
	padding: 5px;
	width: 300px;
}
button {
	padding: 5px;
	color: white;
	background: green;
}