.roomContainer {
	width: 100%;
	height: 400px;
	border-left: 5px solid green;
	border-right: 5px solid green;
	border-bottom: 5px solid green;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
	padding: 15px;
	overflow: scroll;
	background: white;
	word-wrap: break-word;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px; 
}
.sideBar {
	height: 150px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	background: radial-gradient(white, green);
}
.room1 {
	background: green;
	color: white;
}
#text {
	padding: 5px;
	width: 75%;
	border: 4px solid green;
	border-radius: 20px;
}
#button {
	padding: 9px;
	color: white;
	background: green;
	border-radius: 20px;
}
.timestamp {
	background: rgba(0,255,0,0.2);
	margin-right: 10px;
}
